body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font: inherit;
}

.form .slices {
    display: grid;
    grid-template-columns: 90px auto;
    gap: 10px;
}
.form .options {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 90px 1fr 90px 1fr 90px;
    /* grid-template-columns: auto auto auto auto auto auto; */
    gap: 10px;
}
.form label {
    font-weight: bold;
    margin-top:4px;
    margin-left:10px;
}
.form .options label {
    text-align:right;
}
.form input {
    padding: .4em;
    border:1px solid lightgray;
    border-radius: 3px;
}

.pyramid .test-count {
    font-size: 60px;
    font-weight: bold;
}
.pyramid .test-classification {
    font-size: 20px;
}
.pyramid polygon {
    stroke:black;
    stroke-width: 8px;
    stroke-linejoin: round;
}
.triangle {
    fill:lightsalmon;
}
.trapezoid {
    fill:lightseagreen;
}