body {
    font-family: Arial, Helvetica, sans-serif;
}
.pyramid .test-count {
    font-size: 60px;
    font-weight: bold;
}
.pyramid .test-classification {
    font-size: 20px;
}
.pyramid polygon {
    stroke:black;
    stroke-width: 8px;
    stroke-linejoin: round;
}
.triangle {
    fill:lightsalmon;
}
.trapezoid {
    fill:lightseagreen;
}
#r1{
    /* transform:rotate(20deg); */
}
#r2{
    transform:translate(40px,20px);
    /* transform:rotate(20deg); */
}